<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email with PGP</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
            color: #212529;
        }

        h1 {
            text-align: center;
            color: #343a40;
            margin: 20px 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .section-title {
            color: #495057;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .pgp-content {
            font-family: 'Courier New', monospace;
            background-color: #f1f3f5;
            border: 1px solid #ced4da;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .button {
            background-color: #0069d9;
            border: none;
            color: white;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            transition: all 0.3s ease;
            width: 150px;
        }

        .button:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }

        .download-button {
            background-color: #007bff;
        }

        .download-button:hover {
            background-color: #0056b3;
        }

        .copy-button {
            background-color: #28a745;
        }

        .copy-button:hover {
            background-color: #218838;
        }


        .copy-feedback {
            color: #28a745;
            font-weight: bold;
            margin-left: 10px;
            display: inline-block;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .copy-button.copied .copy-feedback {
            opacity: 1;
        }

        .divider {
            border-top: 2px dashed #dee2e6;
            margin: 30px 0;
        }

        .collapsible {
            background-color: #f8f9fa;
            color: #007bff;
            border: 1px solid #ced4da;
            padding: 10px 15px;
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            border-radius: 4px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .collapsible:hover {
            background-color: #e9ecef;
        }

        .collapsible .toggle-indicator {
            font-weight: bold;
            font-size: 18px;
            transition: transform 0.2s ease;
        }

        .collapsible.active .toggle-indicator {
            transform: rotate(45deg);
        }

        .toggle-indicator {
            font-weight: bold;
            font-size: 18px;
            transition: transform 0.2s ease;
        }

        .content {
            display: none;
            overflow: hidden;
            padding: 15px;
            border: 1px solid #dee2e6;
            background-color: #f8f9fa;
            border-radius: 4px;
            margin-top: 5px;
            animation: fadeIn 0.3s ease-in-out;
        }

        .content pre {
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-5px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
</head>
<body>
<h1>PGP-Secure Message</h1>
<div class="container">
    <div class="message-container">
        <div class="section-title">Here is your PGP-secured message:</div>
        <div class="pgp-content" id="encrypted-message">
           <pre> {{ encrypted_message | e}} </pre>
        </div>
        <div class="button-actions">
            <button class="button copy-button" onclick="copyToClipboard('encrypted-message')">Copy Message<span
                        class="copy-feedback">Copied!</span></button>

            <a class="button download-button"
               href="data:text/plain;charset=utf-8,{{ encrypted_message | e('url') }}"
               download="encrypted-message.txt">
                Download the Message as .txt
            </a>
        </div>
    </div>

    <div class="divider"></div>

    <button class="collapsible">
        Show/Hide the Signature
        <span class="toggle-indicator"> + </span>
    </button>
    <div class="content">
        <div class="section-title">The Signature:</div>
        <div class="pgp-content" id="signature">
           <pre>{{ signature | e}}</pre>
        </div>

        <div class="button-actions">
            <button class="button copy-button" onclick="copyToClipboard('signature')">Copy Signature<span
                        class="copy-feedback">Copied!</span>
            </button>
            <a class="button download-button"
               href="data:text/plain;charset=utf-8,{{ signature | e('url') }}"
               download="signature.asc">
                Download the Signature
            </a>
        </div>
    </div>

    <div class="divider"></div>

    <button class="collapsible">
        Show/Hide the Signing Key
        <span class="toggle-indicator"> + </span>
    </button>
    <div class="content">
        <div class="section-title">The Server's Public Key:</div>
        <div class="pgp-content" id="server_public_key">
           <pre> {{ server_public_key | e}}</pre>
        </div>
        <div class="button-actions">
            <button class="button copy-button" onclick="copyToClipboard('server_public_key')">Copy Signing Key<span
                        class="copy-feedback">Copied!</span></button>
            <a class="button download-button"
               href="data:text/plain;charset=utf-8,{{ server_public_key | e('url') }}"
               download="public-key.asc">
                Download the Public Key
            </a>

        </div>
    </div>

    <div class="divider"></div>

    <div class="content">
        <div class="section-title">PGP Verification Page</div>
        <p>You can verifySignaturePage this PGP message and signature by visiting the link below:</p>
        <a href="{{ app_verify_url }}">Click here to verifySignaturePage PGP</a>
    </div>
</div>

<script>

	document.addEventListener("DOMContentLoaded", function() {
		const collapsibles = document.querySelectorAll(".collapsible");
		collapsibles.forEach(button => {
			button.addEventListener("click", () => {
				button.classList.toggle("active");
				const content = button.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		});
	});

	function copyToClipboard(elementId) {
		const content = document.getElementById(elementId);
		const textarea = document.createElement("textarea");
		textarea.value = content.textContent.trim();
		document.body.appendChild(textarea);
		textarea.select();
		document.execCommand("copy");
		document.body.removeChild(textarea);

		const button = event.target;
		button.classList.add("copied");

		setTimeout(() => {
			button.classList.remove("copied");
		}, 2000);
	}
</script>

</body>
</html>
