{% extends 'base.html.twig' %}
{% block title %}{{ searchingMethodTitle }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <h1 class="text-center">{{ searchingMethodTitle }}</h1>
        <div class="row justify-content-center">
            {{ form_start(form) }}
            {# {{ form_start(form, { 'attr': { 'data-turbo': 'false' } }) }} #}
            <table class="table">
                <tbody>
                {% for field in form %}
                    {% if field.vars.name != '_token' %}
                        <tr>
                            <td class="text-left col-sm-4">{{ form_label(field) }}</td>
                            <td class="col-sm-8">{{ form_widget(field) }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="2" class="text-center">
                        <button type="submit"
                                class="btn btn-primary">{{ button_label|default('Press to Search') }}</button>
                    </td>
                </tr>
                </tbody>
            </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
